.header {
	position: relative;
	height: 110vh;
	bottom: 80px;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

}

.header__background {
	position: absolute;
	height: inherit;
	width: 100%;
	object-fit: cover;
	filter: blur(1px) opacity(.9) saturate(200%);
}

.header__background-wrapper {
	position: absolute;
	height: inherit;
	width: 100%;

	background: rgb(0, 0, 0, .5);

	z-index: 1;
}

/* header-top */

.header-top {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	height: 80px;

	background: #000;
	color: #fff;

	z-index: 3;
}

.header-top a.link {
	color: #fff;

}

.logo {
	width: 260px;
	font-size: 3.6rem;
}

.menu-element {
	margin-right: 25px;
	font-size: 2.2rem;

}

.menu-element:last-child {
	margin-right: 0;
}

.menu-element__link:hover {
	color: var(--color-green);
}

.menu-element a.link.active {
	color: var(--color-green);
}

.menu-element a.link:hover {
	background: var(--color-green);
	color: #f70303;
	font-weight: bold;
	padding: 3px 5px;
	border-radius: 10px;
	transition: all 0.5s ease-out !important;
}

.menu-element__link.home svg {
	width: 24px;
	height: 24px;
}
.switcher {
	font-size: 1.6rem;
	font-weight: 600; 
}

.switcher-container {
	width: 260px;
}

.switcher-wrapper {
	display: flex;
	align-items: center;

	position: relative;

	height: 35px;
	width: 135px;
	padding: 0 10px;

	background: var(--color-green);
	border-radius: 20px;
	opacity: .9;

	transition: opacity 0.25s ease;
	cursor: pointer;
}

.switcher-wrapper:hover {
	opacity: 1;
}

.switcher-wrapper input[type="radio"] {
	display: none;
}

.switcher-wrapper .switcher {
	position: relative;

	flex: 1 1 calc(100% / 3);
	text-align: center;
	color: #fff;

	transition: color 0.25s ease-in-out;
	z-index: 2;
	cursor: pointer;
}

.lang-placeholder {

	width: 40px;
	height: 30px;
	left: 0;
	border-radius: 20px;
	background: #fff;
	position: absolute;

	z-index: 1;
	transition: left 0.25s ease-in-out;
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked~.lang-placeholder {
	left: 9px;
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked~.lang-placeholder {
	left: 47px;
}

.switcher-wrapper input[type="radio"]:nth-of-type(3):checked~.lang-placeholder {
	left: 86px;
}


.switcher-wrapper input[type="radio"]:checked+.switcher {
	color: var(--color-green);
}


.switcher span:first-child {
	color: #fff;
}

#lang {
	display: none;
}

/* header-center */

.header-center {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: calc(100vh - 80px);

	color: #fff;

	z-index: 2;
}

.header-center__wrapper {
	padding: 20px 0;
	width: 100%;
	background: var(--background-black-opacity);
	text-align: center;
}

.name {
	font-size: 5.8rem;
	line-height: 70px;
}

.description {
	display: inline-block;
	font-size: 2.2rem;
	font-family:'Courier Prime', monospace;
	
	font-weight: 600;
	padding: 5px 10px;
	width: 900px;

	border-right: 3px solid transparent;
	line-height: 1.5em;
	white-space: nowrap;



	overflow: hidden;
	animation: cursor 0.75s 4, print-text 5s steps(67); 
}


 @keyframes cursor {
	0% {
		border-color: transparent;
	}

	50% {
		border-color: #fff;
	}

	100% {
		border-color: transparent;
	}
}

@keyframes print-text {
	from {
		width: 0;
	}
} 